:root {
  --font-main: 'Open Sans', sans-serif;
  --font-accent: 'Geologica Roman', sans-serif;

  // Absolute
  --black: #272727;
  --white: #ffffff;
  --red: #eb262b;

  --text-color-main: #393939;
  --text-color-secondary: #36be26;
}
